.site-title {
    padding: 0 !important;
    font-size: 1.2rem;
}
.top-bar {
    margin-bottom: 30px;
}
.page-title a {
    float: right;
}
form label {
    margin: 10px 0;
}
.display-paper,.display-paper td, .display-paper th {
    border: 1px solid #e6e6e6;
}
.list-papers span, .display-paper span {
    display: block;
}
.display-paper .question-paper {
    font-weight: 800;
}
.display-paper .abstract-paper {
    font-weight: 400;
}
footer {
    padding: 10px 0;
    background: #e6e6e6;
    margin-top: 100px;
}
footer p {
    text-align: center;
}
.questionnaire-container{
    background: #e6e6e6;
    padding: 10px 0;
}
.paging-nav {
    text-align: center;
    padding-top: 2px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 7px;
    border-radius: 3px;
}

.paging-nav .selected-page {
    border: 1px solid;
    font-weight: bold;
}